In [1]:
my_dict = {"Krishna": [67, 68, 69], "Arjun": [70, 98, 63], "Malika": [52, 56, 60]}

In [2]:
for key in my_dict.keys():
    print(key)

Krishna
Arjun
Malika

In [3]:
for value in my_dict.values():
    print(value)

[67, 68, 69]
[70, 98, 63]
[52, 56, 60]

In [4]:
def student_average(student_marks, query_name):
    for key, value in student_marks.items():
        if key == query_name:
            average_score = sum(value) / len(value)
    print(f"{average_score:.2f}")

In [5]:
student_average(my_dict, "Krishna")

68.00